body::after {
	background-image: url('fireWater.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
    content: "";
    display: block;
    position: absolute;
    z-index: -1;   
    width: 100%;
    height: 100%;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

header{
	display: flex;
	justify-content: center;
}

.player1{
	font-size: 25px;
	color: red;
}

.player2{
	font-size: 25px;
	color: blue;
}

.score{
	font-size: 30px;
}

.ticTacToe {
	display: flex;
	font-size: 75px;
	flex-direction: column;
	justify-content: center;
}

.row1 {
	display: flex;
	font-size: 100px;
	justify-content: center;
}

.row2 {
	display: flex;
	font-size: 100px;
	justify-content: center;
}

.row3 {
	display: flex;
	font-size: 100px;
	justify-content: center;
}

.cell {
	display: flex;
	justify-content: center;
	padding: 25px;
	border: 3px solid;
	height:100px;
	width: 100px;
}

.cell:hover {
	color: yellow;
}

.X {
	color: red;
	text-shadow: 3px 2px blue;
	font-weight: bold;
}

.O{
	color: blue;
	text-shadow: 3px 2px red;
	font-weight: bold;
}

.reset {
	font-size: 25px;
	padding: 5px;
	border: 1px solid;
	background: linear-gradient(to right, royalblue , orangered);
}

.reset:hover{
	color: yellow;
}